<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Bán khóa học"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project167"
        tools:targetApi="31">
        <activity
            android:name=".Activity.MyProfile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".Activity.PaymentNotification"
            android:exported="true" />
        <activity
            android:name=".Activity.ResetPassword"
            android:exported="false" /> <!-- LoginAdminActivity -->
        <activity
            android:name=".Activity.LoginAdminActivity"
            android:exported="false" /> <!-- ProfileAdminActivity -->
        <activity
            android:name=".Activity.ProfileAdminActivity"
            android:exported="false" />

        <activity android:name=".Activity.MyCourseActivity"
            android:exported="false"/>

        <!-- CartActivity GIỎ HÀNG -->

        <activity
            android:name=".Activity.CartActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity> <!-- DetailActivity -->
        <!-- DetailActivity -->
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" /> <!-- SignUpActivity -->
        <activity
            android:name=".Activity.SignUpUserActivity"
            android:exported="false" /> <!-- LoginUserActivity -->
        <activity
            android:name=".Activity.LoginUserActivity"
            android:exported="false" /> <!-- CoursesPopularListActivity -->
        <activity
            android:name=".Activity.CoursesPopularListActivity"
            android:exported="false" /> <!-- CategoryListActivity -->
        <activity
            android:name=".Activity.CategoryListActivity"
            android:exported="false" /> <!-- ProfileUserActivity -->
        <activity
            android:name=".Activity.ProfileUserActivity"
            android:exported="false" /> <!-- CourseCategoryIdActivity -->
        <activity
            android:name=".Activity.CourseCategoryIdActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageCourseActivity"
            android:exported="false" /> <!-- IntroActivity -->
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sửa đổi login ra trước Main (test chức năng Login) -->
        <!-- MainActivity -->
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>